.idea/
__pycache__
dataset/classification/train_labelled/*
dataset/classification/train_unlabelled/*
dataset/classification/val/*
dataset/classification/*.csv
dataset/classification/*.tsv
trash/
output/models/*metrics.pkl